/* fonts */
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/roboto-400.woff2') format('woff2');
}
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   src: url('../fonts/roboto-500.woff2') format('woff2');
}
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   src: url('../fonts/roboto-700.woff2') format('woff2');
}
/* vars */
:root {
	--system-font: system-ui, sans-serif;
	--bg-color: #FFFFFF;
	--item-color: #F6F6F6;
	--border-color: #EAEAEA;
	--footer-color: #323232;
	--text-color: #111821;
	--text-muted-color: #AAACAD;
	--accent-color: #E93947;
   --accent-color-hover: #CF323F;
	--h1-size: 36px;
	--h2-size: 32px;
   --h3-size: 24px;
	--text-size: 14px;
	--small-size: 12px;
	--line-height: 1.6;
	--line-height-sm: 1.2;
	--gutter: 20px;
   --round-sm: 5px;
	--round: 10px;
   --round-lg: 20px;
	--time: 0.2s ease-out;
	--overlay: rgba(0, 0, 0, 0.25);
   --shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}
/* resets */
* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
ul, ol {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	display: inline-block;
	margin: 0;
}
p {
	margin: 0;
}
svg {
	display: block;
}
a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}
input, textarea, button {
	border: none;
	background: none;
	padding: 0;
	font: inherit;
}
:focus {
	outline: none;
}
/* styles */
body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   font-family: 'Roboto', var(--system-font);
   font-weight: 400;
   font-size: var(--text-size);
   background: var(--bg-color);
   line-height: var(--line-height);
}
input, textarea {
   font: inherit;
}
h1, h2, h3, h4, h5, h6 {
   line-height: var(--line-height-sm);
}
h1 {
   font-weight: 700;
   font-size: var(--h1-size);
}
h2 {
   font-weight: 700;
   font-size: var(--h2-size);
}
h3 {
   font-weight: 700;
   font-size: var(--h3-size);
}
strong {
   font-weight: 500;
}
small {
   font-size: var(--small-size);
}
/* inline */
.inline {
   display: flex;
   flex-wrap: wrap;
   gap: 5px;
   align-items: center;
}
/* container */
.container {
   width: 1000px;
   max-width: 100%;
   margin: 0 auto;
   padding: 0 calc(var(--gutter)/2);
}
/* header */
.header {
   z-index: 2;
   position: sticky;
   top: 0;
   padding: 25px 0;
   background: #FFFFFF;
   box-shadow: var(--shadow);
}
.header__content {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
/* logo */
.logo {
   display: block;
}
/* nav */
.nav__menu {
   display: flex;
   gap: 15px;
}
.nav__link:hover {
   color: var(--accent-color-hover);
}
/* btn */
.btn {
   display: block;
   color: #FFFFFF;
   background: var(--accent-color);
   border-radius: var(--round-sm);
   padding: 10px 15px;
}
.btn:hover {
   background: var(--accent-color-hover);
}
/* footer */
.footer {
   margin-top: auto;
   color: #FFFFFF;
   padding: 25px 0;
   background: var(--footer-color);
}
.footer__content {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.footer__bottom {
   text-align: center;
}
.footer__line {
   background: #FFFFFF;
   opacity: 15%;
   margin: 25px auto;
   height: 1px;
   max-width: 500px;
}
/* copyright */
.text-muted {
   color: var(--text-muted-color);
}
/* section */
.section {
   padding: 110px 0;
}
.section_primary .section__wrapper {
   display: flex;
   gap: var(--gutter);
   align-items: center;
}
.section .section__subtitle {
   color: var(--text-muted-color);
}
.section .section__title {
   margin-bottom: 15px;
}
/* section primary */
.search_primary .section__heading .btn {
   margin-top: 10px;
}
.section_primary .section__content {
   flex-grow: 1;
}
/* section search */
.section_background {
   color: #FFFFFF;
   background-size: cover !important;
   background-position: center !important;
}
.section_background .section__subtitle {
   color: #FFFFFF;
}
.search-form {
   display: flex;
   width: 400px;
   align-items: center;
   background: #FFFFFF;
   border: 1px solid var(--border-color);
   border-radius: 10px;
   margin: 0 auto;
}
.search-form__input {
   height: 31px;
   flex-grow: 1;
   padding: 5px;
}
.search-form__btn {
   width: 31px;
   height: 31px;
   background: var(--accent-color);
   border-radius: 16px;
   margin: 5px;
   line-height: 0;
}
.search-form__btn:hover {
   background-color: var(--accent-color-hover);
}
/* section secondary */
.section_secondary {
   background: var(--item-color);
}
.section_secondary .section__heading {
   margin-bottom: 50px;
   text-align: center;
}
/* about-us */
.about-us__text {
   display: grid;
   gap: 10px;
   justify-items: start;
}
.about-us {
   display: grid;
   grid-template-columns: 1fr auto;
   gap: var(--gutter);
   align-items: center;
}
.about-us__img {
   width: 320px;
}
/* services */
.services {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: var(--gutter);
}
.service__img {
   margin-bottom: 20px;
   max-width: 100%;
}
.service {
   text-align: center;
}
/* stats */
.stats {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: var(--gutter);
}
.stats__item {
   background: var(--item-color);
   text-align: center;
   padding: 10px;
   border-radius: var(--round);
}
.stats__text {
   color: var(--text-muted-color);  
}
.service_popular {
   background: var(--item-color);
   padding: 10px;
   border-radius: var(--round);
}
.service_popular .service__img {
   height: 45px;
}
/* input */
.input {
   background: #FFFFFF;
   padding: 7px 20px;
   border-radius: var(--round-sm);
   border: 1px solid var(--border-color);
   width: 100%;
}
textarea.input {
   resize: vertical;
   min-height: 150px;
}
.input::placeholder {
   color: var(--text-muted-color);
}
/* feedback */
.feedback {
   display: grid;
   grid-template-columns: auto 1fr;
   align-items: center;
   gap: var(--gutter);
}
.feedback__form {
   display: grid;
   gap: var(--gutter);
   justify-items: start;
   border: 1px solid var(--border-color);
   border-radius: var(--round-lg);
   padding: 20px;
   box-shadow: var(--shadow);
}
.feedback__img {
   width: 330px;
}
/* reason */
.reason {
   display: grid;
   justify-items: center;
   gap: 10px;
   padding: 15px;
   background: #FFFFFF;
   border-radius: var(--round);
   height: 100%;
   text-align: center;
}
.reason .reason__img {
   width: 120px;
}
/* icons */
ion-icon {
   color: #FFFFFF;
}
/* swiper */
.swiper {
   height: 270px;
}
.swiper-custom-pagination {
   margin: 0 auto;
   margin-top: 20px;
   width: max-content !important;
}
.swiper-pagination-bullet {
   width: 15px;
   height: 15px;
   opacity: 1;
   background: rgba(0, 0, 0, 0.15);
}
.swiper-pagination-bullet-active {
   color: #fff;
   background: var(--accent-color);
}