/* === desktop first === */
/* from xl to xxl */
@media (max-width: 1400px) {

}
/* from lg to xl */
@media (max-width: 1200px) {

}
/* from md to lg */
@media (max-width: 992px) {	
   .footer__wrapper {
      grid-template-columns: auto auto;
      grid-template-areas: 
         "footer-logo footer-feedback" 
         "footer-nav footer-nav" 
         "footer-line footer-line"
         "footer-copyright footer-copyright"
      ;
      justify-items: center;
   }
   .section_primary .section__wrapper {
      grid-template-columns: 1fr;
      justify-items: center;
   }
   .section_primary .section__heading {
      text-align: center;
   }
   .login__img {
      width: 350px;
   }
}
/* from sm to md */
@media (max-width: 768px) {
   .header {
      padding: 15px 0;
   }
   .header .nav__menu {
      display: none;
   }
   .header .logo {
      display: none;
   }
	.about-us__content {
      justify-items: center;
      gap: 20px;
   }
   .about-us__text {
      text-align: center;
   }
   .about-us__img {
      display: none;
   }
   .stats {
      grid-template-columns: repeat(2, 1fr);
   }
   .stats__number {
      margin-bottom: 5px;
   }
   .feedback__img {
      width: 260px;
   }
   .login,
   .register {
      grid-template-columns: 1fr;
   }
   .login__img,
   .register__img {
      width: 100%;
      grid-column: 1/ 2;
      grid-row: 2;
   }
   .contacts {
      grid-template-columns: 1fr;
   }
   .modal__container {
      width: calc(100% - var(--gutter) * 2);
   }
   .profile__orders {
      grid-template-columns: 1fr;
   }
   .service-single__description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
   }
}
/* from xs to sm */
@media (max-width: 577px) {
   .section {
      padding: 60px 0;
   }
	.services {
      grid-template-columns: repeat(2, 1fr);
   }
   .feedback {
      grid-template-columns: 1fr;
   }
   .feedback__img {
      display: none;
   }
   .footer__line {
      width: 100%;
   }
   .footer .nav {
      width: 100%;
   }
   .footer .nav__menu {
      flex-direction: column;
      text-align: center;
   }
   .footer .nav__link {
      width: 100%;
      background: rgba(255, 255, 255, 0.1);
      padding: 10px;
      border-radius: var(--round-sm);
   }
   .footer .nav__link.active {
      background: var(--accent-color);
      color: #fff;
   }
   .error {
      grid-template-columns: 1fr;
      gap: 40px;
      justify-items: center;
   }
   .error__content {
      justify-items: center;
      text-align: center;
   }
   .error__img {
      width: 200px;
   }
   .profile__img {
      width: 100%;
      height: 300px;
      object-fit: cover;
   }
   .profile {
   grid-template-columns: 1fr;
   grid-template-areas:
      "profile-img"
      "profile-text"
      "profile-line"
      "profile-tabs"
      "profile-orders";
   }
   .profile__tabs .btn {
      padding: 20px;
   }
   .service-single {
      grid-template-columns: 1fr;
      grid-template-areas:
        "service-img"
        "service-text";
   }
   .service-single__img {
      width: 100%;
      object-fit: cover;
   }
}
@media (min-width: 769px) {
   .hamburger {
      display: none;
   }
   .header__bottom {
      display: none !important;
   }
}
@media (min-width: 993px) {
   .section_primary .section__heading {
      max-width: 360px;
   }
}