/* === desktop first === */
/* from xl to xxl */
@media (max-width: 1400px) {

}
/* from lg to xl */
@media (max-width: 1200px) {

}
/* from md to lg */
@media (max-width: 992px) {	
   .footer__wrapper {
      grid-template-columns: auto auto;
      grid-template-areas: 
         "footer-logo footer-feedback" 
         "footer-nav footer-nav" 
         "footer-line footer-line"
         "footer-copyright footer-copyright"
      ;
      justify-items: center;
   }
   .section_primary .section__wrapper {
      flex-direction: column;
   }
   .section_primary .section__heading {
      margin-bottom: 50px;
      text-align: center;
   }
}
/* from sm to md */
@media (max-width: 768px) {
   .header .nav__menu {
      display: none;
   }
   .header .logo {
      display: none;
   }
	.about-us__content {
      justify-items: center;
      gap: 20px;
   }
   .about-us__text {
      text-align: center;
   }
   .about-us__img {
      display: none;
   }
   .stats {
      grid-template-columns: repeat(2, 1fr);
   }
   .stats__number {
      margin-bottom: 5px;
   }
   .feedback__img {
      width: 260px;
   }
}
/* from xs to sm */
@media (max-width: 576px) {
	.services {
      grid-template-columns: repeat(2, 1fr);
   }
   .feedback {
      grid-template-columns: 1fr;
   }
   .feedback__img {
      display: none;
   }
   .footer__line {
      width: 100%;
   }
   .footer .nav {
      width: 100%;
   }
   .footer .nav__menu {
      flex-direction: column;
      text-align: center;
   }
   .footer .nav__link {
      width: 100%;
      background: rgba(255, 255, 255, 0.1);
      padding: 10px;
      border-radius: var(--round-sm);
   }
   .footer .nav__link.active {
      background: var(--accent-color);
      color: #fff;
   }
}
@media (min-width: 768px) {
   .hamburger {
      display: none;
   }
   .header__bottom {
      display: none !important;
   }
}